<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li><strong>Tel: </strong>{{ site.data.contact.phone }}</li>
            <li><strong>E-mail: </strong><a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul>
            <li><a href="https://www.labcerouno.digital">labCeroUno.digital</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>